<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-cboard-speech-tts" version="0.0.1">
  <name>cboard-speech-tts</name>
  <description>Cordova TTS plugin used by the Cboard mobile app</description>
  <license>GPL-3.0-only</license>
  <keywords>cordova,cboard,speech,synthesis,tts</keywords>
  
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="cboard-speech-tts">
        <param name="android-package" value="org.apache.cordova.speech.SpeechSynthesis"/>
      </feature>
    </config-file>
    <source-file src="src/android/SpeechSynthesis.java" target-dir="src/org/apache/cordova/speech"/>
    <js-module src="www/SpeechSynthesis.js" name="SpeechSynthesis">
      <clobbers target="window.speechSynthesis"/>
    </js-module>
    <js-module src="www/SpeechSynthesisUtterance.js" name="SpeechSynthesisUtterance">
      <clobbers target="SpeechSynthesisUtterance"/>
    </js-module>
    <js-module src="www/SpeechSynthesisEvent.js" name="SpeechSynthesisEvent">
      <clobbers target="SpeechSynthesisEvent"/>
    </js-module>
    <js-module src="www/SpeechSynthesisVoice.js" name="SpeechSynthesisVoice">
      <clobbers target="SpeechSynthesisVoice"/>
    </js-module>
    <js-module src="www/SpeechSynthesisVoiceList.js" name="SpeechSynthesisVoiceList">
      <clobbers target="SpeechSynthesisVoiceList"/>
    </js-module>
  </platform>
</plugin>